.pc-screen {
    		    display: inline-block;
  				position: relative;
        	}
        	.screen-dark-one {
			    background-image: url('onepage.jpg');
			}
			.pc-screen-content{
				position: absolute;
				top: 13%;
				left: 14%;
				bottom: 20%;
				right: 13.5%;
				line-height: 280px;
				background-position: top center;
				-webkit-background-size: 100% auto;
				background-size: 100% auto;
				-webkit-transition: background-position 6s linear;
				-moz-transition: background-position 6s linear;
				-o-transition: background-position 6s linear;
				transition: background-position 6s linear;
			}
			.pc-screen:hover .pc-screen-content {
			    background-position: bottom center;
			}
			
