.portfolio .grid {
	padding: 0px;
}

.portfolio .grid li{
	padding: 10px;
}
.portfolio li figure figcaption span a{
	background: none;
	box-shadow: none;
	padding: 0px;
}
.portfolio .grid li figure figcaption a:hover{
	background: #C83754;
}
.portfolio .grid a {
	box-shadow: none;
	font-family: 'Open Sans', sans-serif;
	border-radius: 0px;
	font-size: 12px;
}

.portfolio .grid a:hover {
	text-decoration: none;
}

.portfolio li{
	width: 100%;
}
@media (min-width: 480px) {
	.portfolio li{
		width: 49%;
	}
}
.portfolio .cs-style-1 li figure figcaption h3 {
	margin-top: 0px;
}
.portfolio .cs-style-1 li figure div {
	position: absolute;
    width: 100%;
    left: 0px;
    top: calc(50% - 50px);
}

.portfolio .cs-style-1 li figure figcaption span {
	line-height: 20px;
}

.portfolio .cs-style-1 li figure figcaption a{
	margin-top: 20px;
}


.portfolio .column-3 li{
	width: 32.33%;
}

.portfolio .column-4 li{
	width: 24.55%;
}

/*styl 2*/
.portfolio .cs-style-2 li figure figcaption span {
	max-width: 50%;
}
.portfolio .cs-style-2 li figure figcaption span a {
	position: static;
}
.portfolio .cs-style-2 li figure figcaption a {
	top: 18px;
}
/*styl 3*/
.portfolio .cs-style-3 li figure figcaption span {
	max-width: 50%;
}
.portfolio .cs-style-3 li figure figcaption span a {
	position: static;
}
.portfolio .cs-style-3 li figure figcaption a {
	top: 18px;
	bottom: initial;
}
/*styl 4*/
.portfolio .cs-style-4 li figure figcaption span {
	max-width: 50%;
}
.portfolio .cs-style-4 li figure figcaption span a {
	position: static;
}

/*styl 5*/
.portfolio .grid.cs-style-5 li figure:hover img {
	-webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
}
.portfolio .cs-style-5 li figure figcaption span {
	max-width: 50%;
}
.portfolio .cs-style-5 li figure figcaption span a {
	position: static;
}
/*styl 6*/
.portfolio .cs-style-6 li figure figcaption h3{
	margin-top: 50%;
}
.portfolio .cs-style-6 li figure figcaption span {
	max-width: 50%;
}
.portfolio .cs-style-6 li figure figcaption span a {
	position: static;
}

/*styl 7*/
.portfolio .cs-style-7 li figure figcaption span {
	max-width: 50%;
}
.portfolio .cs-style-7 li figure figcaption span a {
	position: static;
}

.portfolio .cs-style-7 li figure figcaption div {
	position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.main-shot {
	display: flex;
    flex-direction: row;
	align-items: stretch; 
	font-family: Poppins, "Helvetica Neue", arial, sans-serif;
}

@media(max-width: 670px) {
	.main-shot {
		display: block;
	}
	#content .main-shot .screenshot-info-wrapper .screenshot-meta .tags-section .meta-head {
		line-height: 20px;
	}
}
h1.title-single {
	padding: 20px;
    font-size: 30px;
}
.main-shot .the-shot ,
.main-shot .screenshot-info-wrapper {
	width: 100%;
	padding: 10px;
}


.main-shot .single .single-grid {
	padding: 20px;
	background: #fff;
	border-radius: 4px;
}
.main-shot .screenshot-info-wrapper .screenshot-conversation .shot-desc{
	font-size: 16px;
	line-height: 24px;
	color: #333;
}
.main-shot .screenshot-info-wrapper .screenshot-meta {
	display: inline-block;
    margin-top: 20px;
    padding-right: 100px;
}

.main-shot .screenshot-info-wrapper .screenshot-meta .tags-section {
	display: inline-block;
	border-bottom: 1px solid #ddd;
	width: 100%;
}
.main-shot .screenshot-info-wrapper .screenshot-meta .tags-section .meta-head{
	float: left;
	padding-right: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    // border-bottom: 1px solid #ddd;
}

.main-shot .screenshot-info-wrapper .screenshot-meta .tags-section .popular-tags{
	margin: 0px;
	float: left;
	// border-bottom: 1px solid #ddd;
}
.main-shot .screenshot-info-wrapper .screenshot-meta .tags-section .popular-tags li{
	display: inline-block;
	font-size: 14px;
	color: #727b81;
	margin-right: 10px;

}

    